In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt           
from sklearn.linear_model import LogisticRegression

In [5]:
df=pd.read_csv("insurance_data.csv")

In [6]:
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [12]:
x=df[["age"]]
y=df[["bought_insurance"]]

In [10]:
model=LogisticRegression()

In [13]:
model.fit(x,y)

C:\Users\SREEHARI CR\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [14]:
model.score(x,y)

0.8888888888888888

In [16]:
model.predict([[23]])

C:\Users\SREEHARI CR\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)